*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  font-size: 62.5%;
  direction: ltr;
}

body {
  position: relative;
  font-size: 1.5rem;
  font-family: Wotfard, Arial, serif;
  background-color: #000;
  color: #fff;
  scrollbar-color: #073a4d transparent;
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-track {
  background: #09163b;
}

body::-webkit-scrollbar-thumb {
  background-color: #073a4d;
  border: 2px solid #09163b;
  border-radius: 6px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.gradiant-text {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(93.88deg, #cd7cff 16.21%, rgba(0, 255, 255, 0.4) 56.94%);
  background-clip: border-box;
  -webkit-background-clip: text;
}

header {
  position: relative;
}
header .header {
  padding: 0.8rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header.active .header__menu {
  opacity: 1;
  transform: translateX(0);
}
header .header.active .header__humburger .one {
  transform: rotate(-45deg) translate(-9px, 6px);
  margin: 6px 0;
}
header .header.active .header__humburger .two {
  opacity: 0;
  transform: translateX(-30px);
}
header .header.active .header__humburger .three {
  transform: rotate(44deg) translate(-8px, -8px);
  margin: 8px 0;
}
header .header__logo img {
  width: 70%;
  height: 80%;
}
header .header__humburger {
  display: flex;
  flex-direction: column;
}
header .header__humburger .line {
  width: 20px;
  height: 2px;
  margin-bottom: 4px;
  border-radius: 12px;
  font-weight: bold;
  background-color: #fff;
  transition: all 0.6s ease-out;
}
header .header__menu {
  position: absolute;
  width: 100%;
  height: 360vh;
  top: 70px;
  right: 0;
  opacity: 0;
  background-color: #000;
  transform: translateX(-200vh);
  transition: all 0.6s ease-in-out;
  z-index: 2;
}
header .header__menu ul {
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  text-align: center;
}
header .header__menu ul li {
  padding: 1.5rem 0.5rem;
  font-weight: 800;
  word-spacing: 0.9rem;
}
header .header__menu-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
header .header__menu-social a {
  width: 25px;
  height: 20px;
  margin: 0 1rem;
  display: inline-flex;
}
header .header__menu-social a img {
  width: 80%;
  height: 100%;
}

main .main .video-slide {
  padding: 2rem;
  width: 100%;
  position: relative;
}
main .main .video-slide video {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}
main .main .video-slide__mute {
  position: absolute;
  right: 25px;
  top: 35px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  background: url("../images/speaker-muted.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
main .main .video-slide__mute.active {
  background: url("../images/speaker.svg");
  background-size: 75%;
  background-repeat: no-repeat;
}
main .main .video-slide__content {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  -webkit-animation: textOut 8s;
          animation: textOut 8s;
}
main .main .video-slide__content h1 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
main .main .video-slide__content p {
  text-align: center;
  font-size: 1.2rem;
}
main .main .hero-section {
  width: 100%;
  padding: 0 2rem;
  margin: 5rem 0;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
main .main .hero-section .hero {
  background: linear-gradient(180deg, rgba(7, 58, 77, 0.4), rgba(7, 58, 77, 0));
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 12px;
}
main .main .hero-section .hero::before {
  content: " ";
  width: calc(100% - 4rem);
  height: 100%;
  display: block;
  background: url("../images/wdw-and-tech-bg.dd10a4c5.svg") no-repeat 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}
main .main .hero-section .hero__col-left {
  padding: 2rem;
}
main .main .hero-section .hero__col-left h2 {
  font-size: 1.3rem;
  margin: 1rem 0;
}
main .main .hero-section .hero__col-left h3 {
  margin-bottom: 3rem;
}
main .main .hero-section .hero__col-left p {
  text-align: justify;
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}
main .main .hero-section .hero__col-left a {
  color: #d26feb;
  margin: 3rem 0;
}
main .main .hero-section .hero__col-left a i {
  font-size: 1.2rem;
}
main .main .hero-section .hero__col-right {
  padding: 2rem;
  width: 100%;
  height: 60%;
}
main .main .hero-section .hero__col-right img {
  width: 100%;
  height: 100%;
}
main .main .middle-section {
  margin: 3rem;
}
main .main .middle-section .middle {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, transparent, rgba(9, 22, 59, 0.4) 50%, rgba(9, 22, 59, 0.4) 70%, transparent);
}
main .main .middle-section .middle__title {
  max-width: 580px;
  text-align: center;
}
main .main .middle-section .middle__title h3 {
  margin-bottom: 4rem;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 3rem;
}
main .main .middle-section .middle__title p {
  text-align: justify;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 10rem;
}
main .main .middle-section .middle__detail {
  text-align: center;
}
main .main .middle-section .middle__detail ul {
  display: grid;
  gap: 70px 80px;
}
main .main .middle-section .middle__detail ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .main .middle-section .middle__detail ul li span {
  position: relative;
  margin-bottom: 2.5rem;
}
main .main .middle-section .middle__detail ul li span::before {
  content: "";
  width: 80px;
  height: 80px;
  background: url("../images/middle-detail-origin.png");
  position: absolute;
  bottom: -15px;
  right: -15px;
}
main .main .middle-section .middle__detail ul li span img {
  width: 30px;
  height: 30px;
}
main .main .middle-section .middle__detail ul li h4 {
  font-size: 1.8rem;
  margin: 1rem;
}
main .main .middle-section .middle__detail ul li p {
  font-size: 1.3rem;
  max-width: 300px;
  text-align: center;
}

footer {
  width: 100%;
  margin-top: 5rem;
  position: relative;
}
footer::before {
  content: " ";
  background: linear-gradient(178deg, #000 4%, transparent), url(../images/binary-pattern-tile.045186d6.svg);
  opacity: 0.2;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
footer .footer {
  width: 100%;
  height: 100%;
  padding: 2rem;
}
footer .footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
footer .footer__contact {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
footer .footer__contact .address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .footer__contact .address i {
  color: aqua;
  margin-right: 1rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}
footer .footer__contact .address span {
  font-weight: 700;
  font-size: 1.8rem;
  margin: 0.5rem 0;
}
footer .footer__contact .address p {
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.6rem;
}
footer .footer__contact .info {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .footer__contact .info h3 {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 700;
}
footer .footer__contact .info p {
  min-width: 270px;
  max-width: 500px;
  text-align: center;
  line-height: 2.2rem;
  font-size: 1.4rem;
}
footer .footer__content {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .footer__content .social {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 2rem;
}
footer .footer__content .social span {
  margin: 0 0.8rem;
}
footer .footer__content .store {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
footer .footer__content .store span {
  border: 1px solid #eee;
  border-radius: 12px;
  margin: 0 5px;
}
footer .footer__content .store span img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .footer__content .copy-right {
  display: flex;
  flex-direction: column;
}
footer .footer__content .copy-right p {
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem 0;
}
footer .footer__content .copy-right .policy {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
footer .footer__content .copy-right .policy span {
  flex-basis: 50%;
}
footer .footer__content .copy-right .policy span:nth-child(2) {
  text-align: right;
}

.banner-fixed {
  width: 40px;
  display: flex;
  position: fixed;
  align-items: center;
  top: 40vh;
  right: 0;
  border-radius: 12px 0px 0 12px;
  justify-content: space-between;
  background: linear-gradient(9.01deg, rgba(0, 255, 255, 0.27) -45.61%, rgba(82, 0, 255, 0.18) 102.05%, rgba(82, 0, 255, 0.18) 214.49%), #000;
  transition: all 0.5s ease-in-out;
}
.banner-fixed.active {
  width: 285px;
}
.banner-fixed.active .banner-fixed__left i {
  transform: rotate(180deg);
}
.banner-fixed__left {
  padding: 1rem 0.5rem;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  cursor: pointer;
  color: #00ffd1;
}
.banner-fixed__left::before {
  content: " ";
  width: 30px;
  height: 30px;
  background: url("../images/x-small.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-flex;
  margin-bottom: 10px;
}
.banner-fixed__left span {
  font-weight: 600;
}
.banner-fixed__left i {
  margin-top: 20px;
  font-size: 1.3rem;
  transition: all 0.3s ease-out;
}
.banner-fixed__right {
  flex-basis: 85%;
  margin-left: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.banner-fixed__right::after {
  content: " ";
  width: 130px;
  height: 90px;
  background: url("../images/x.png");
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.banner-fixed__right .title {
  margin-bottom: 1rem;
}
.banner-fixed__right .title span {
  display: block;
}
.banner-fixed__right .title__shadow {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0ff;
  color: #0ff;
  font-size: 3.5rem;
  font-weight: 500;
  opacity: 0.2;
}
.banner-fixed__right .title__name {
  font-size: 1.6rem;
  font-weight: 700;
  position: relative;
  top: -10px;
}
.banner-fixed__right .detail {
  display: flex;
  flex-direction: column;
}
.banner-fixed__right .detail__title {
  font-weight: 200;
  letter-spacing: 0.2rem;
  color: #00ffd1;
  margin: 0.3rem 0;
}
.banner-fixed__right .detail__value {
  font-size: 1.2rem;
  color: #eee;
}
.banner-fixed__right .score {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.banner-fixed__right .score__title {
  color: #eee;
  font-weight: 700;
  margin-right: 2rem;
}
.banner-fixed__right .score__value {
  color: #00ffd1;
}

@media screen and (min-width: 768px) {
  .banner-fixed {
    width: 55px;
    top: 63vh;
    padding: 1rem;
  }
  .banner-fixed.active {
    width: 500px;
  }
  .banner-fixed__left span {
    font-weight: 700;
  }
  .banner-fixed__right {
    flex-basis: 85%;
    margin-left: 2rem;
  }
  .banner-fixed__right::after {
    width: 166px;
    height: 114px;
    top: 47px;
  }
  .banner-fixed__right .title {
    margin-bottom: 1.5rem;
  }
  .banner-fixed__right .title__shadow {
    font-size: 3.6rem;
    font-weight: 600;
  }
  .banner-fixed__right .title__name {
    font-size: 1.8rem;
  }
  .banner-fixed__right .detail__title {
    font-weight: 300;
  }
  .banner-fixed__right .detail__value {
    font-size: 1.3rem;
  }
  .banner-fixed__right .score__title {
    font-size: 2rem;
  }
  .banner-fixed__right .score__value {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  header .header {
    padding: 0.8rem 1.7rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  header .header__logo img {
    width: 90%;
    height: 90%;
  }
  header .header__humburger {
    display: none;
  }
  header .header__menu {
    position: unset;
    width: unset;
    height: unset;
    opacity: unset;
    transform: unset;
    background-color: unset;
  }
  header .header__menu ul {
    display: flex;
  }
  header .header__menu ul li {
    font-weight: unset;
    margin: 0 2rem;
  }
  header .header__menu ul li a {
    font-size: 1.6rem;
  }
  header .header__menu-social {
    display: none;
  }
  main .main .video-slide__mute {
    right: 40px;
    top: 40px;
    width: 35px;
    height: 25px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  main .main .video-slide__mute.active {
    background-size: 75%;
    background-repeat: no-repeat;
  }
  main .main .video-slide__content h1 {
    font-size: 2rem;
  }
  main .main .video-slide__content p {
    font-size: 1.8rem;
  }
  main .main .hero-section .hero {
    grid-template-columns: repeat(2, 1fr);
  }
  main .main .hero-section .hero__col-left {
    padding: 4rem;
  }
  main .main .hero-section .hero__col-left h2 {
    font-size: 1.8rem;
    margin: 1.5rem 0;
  }
  main .main .hero-section .hero__col-left h3 {
    font-size: 2.8rem;
    margin-bottom: 5rem;
  }
  main .main .hero-section .hero__col-left p {
    font-size: 1.6rem;
    line-height: 2.3rem;
    margin-bottom: 5rem;
  }
  main .main .hero-section .hero__col-left a {
    color: #d26feb;
    margin: 3rem 0;
    font-size: 1.8rem;
  }
  main .main .hero-section .hero__col-left a i {
    font-size: 1.4rem;
    margin-left: 1rem;
  }
  main .main .hero-section .hero__col-right {
    padding: 4rem;
    height: 80%;
  }
  main .main .middle-section {
    margin: 5rem 0;
  }
  main .main .middle-section .middle__title h3 {
    margin-bottom: 4rem;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.5rem;
  }
  main .main .middle-section .middle__title p {
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
  main .main .middle-section .middle__detail ul {
    gap: 70px 70px;
    grid-template-columns: repeat(3, minmax(200px, 280px));
    margin: 7rem 0;
  }
  main .main .middle-section .middle__detail ul li span {
    margin-bottom: 3.5rem;
  }
  main .main .middle-section .middle__detail ul li span::before {
    width: 90px;
    height: 90px;
    background-size: 100%;
    background-repeat: no-repeat;
    bottom: -10px;
    right: -10px;
  }
  main .main .middle-section .middle__detail ul li span img {
    width: 40px;
    height: 40px;
  }
  main .main .middle-section .middle__detail ul li h4 {
    font-size: 2.2rem;
  }
  main .main .middle-section .middle__detail ul li p {
    font-size: 1.4rem;
    max-width: 400px;
    margin-top: 0.5rem;
  }
  footer .footer__contact {
    flex-direction: row;
    justify-content: flex-start;
  }
  footer .footer__contact .address i {
    color: aqua;
    margin-right: unset;
    font-size: 2.6rem;
    margin-bottom: 1.2rem;
  }
  footer .footer__contact .address span {
    font-size: 2.2rem;
    margin: 1rem 0;
  }
  footer .footer__contact .address p {
    font-size: 1.6rem;
    letter-spacing: 0.8rem;
  }
  footer .footer__contact .info {
    flex-basis: 40%;
    margin-top: unset;
    margin-right: 5rem;
    align-items: flex-start;
  }
  footer .footer__contact .info h3 {
    margin: 1.4rem 0;
    font-size: 2.5rem;
  }
  footer .footer__contact .info p {
    max-width: 335px;
    text-align: left;
    line-height: 2.2rem;
    font-size: 1.7rem;
  }
  footer .footer__content {
    margin-top: 10rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  footer .footer__content .social {
    order: 2;
    margin-bottom: unset;
    font-size: 2rem;
  }
  footer .footer__content .social span {
    margin: 0 5px;
  }
  footer .footer__content .store {
    order: 3;
    margin-bottom: unset;
    width: 260px;
    height: 60px;
  }
  footer .footer__content .store span {
    display: block;
    border: 1px solid #eee;
    border-radius: 12px;
    margin: 0 5px;
  }
  footer .footer__content .store span img {
    width: 100%;
    height: 100%;
  }
  footer .footer__content .copy-right {
    order: 1;
  }
  footer .footer__content .copy-right p {
    font-size: 1.4rem;
  }
  footer .footer__content .copy-right .policy {
    font-size: 1.3rem;
  }
  footer .footer__content .copy-right .policy span {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 960px) {
  footer .footer__content .social {
    font-size: 3rem;
  }
  footer .footer__content .social span {
    margin: 0 10px;
  }
  footer .footer__content .store {
    width: 400px;
    height: 70px;
  }
  footer .footer__content .store span {
    border: 1px solid #eee;
    margin: 0 10px;
  }
  footer .footer__content .copy-right p {
    font-size: 1.7rem;
  }
  footer .footer__content .copy-right .policy {
    font-size: 1.4rem;
  }
}
@-webkit-keyframes textOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
@keyframes textOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=main.css.map */